<% pages = {
    Home: "/",
		Articles: "/articles",
    Author: "/author",
  } %>

<header class="pointer-events-none relative z-50 flex flex-none flex-col">
  <div class="top-0 z-10 h-16 pt-6">
    <div class="sm:px-8 top-6 w-full">
      <div class="mx-auto w-full max-w-7xl lg:px-8">
        <div class="relative px-4 sm:px-8 lg:px-12">
          <div class="mx-auto max-w-2xl lg:max-w-5xl">
            <div class="relative flex gap-4">
              <div class="flex flex-1">
                <div class="h-10 w-10 p-0.5"><a aria-label="Home" class="pointer-events-auto" href="/"><img alt="ai-on-rails.com" fetchpriority="high" width="512" height="512" decoding="async" data-nimg="1" class="rounded-full bg-zinc-100 object-cover dark:bg-zinc-800 h-9 w-9" sizes="2.25rem" src="/images/ai-on-rails.png" style="color: transparent;"></a></div>

              </div>
              <div class="flex flex-1 justify-end md:justify-center">
                <nav class="pointer-events-auto hidden md:block">
                  <ul class="flex rounded-full bg-white/90 px-3 text-sm font-medium text-zinc-800 shadow-lg shadow-zinc-800/5 ring-1 ring-zinc-900/5 backdrop-blur">
                    <% pages.each do |name, path|%>
                    <li>
                      <a class="relative block px-3 py-2 transition hover:text-teal-500" href="<%= path %>"><%= name %></a>
                    </li>
                    <% end %>
                  </ul>
                </nav>
              </div>
              <div class="flex justify-end md:flex-1"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
