---
title: Welcome!
description: Welcome to AI on Rails. I write about integrating AI technology into Ruby on Rails applications.
---
<header class="max-w-2xl">
  <h1 class="text-4xl font-bold tracking-tight text-zinc-800 sm:text-5xl">Writing on integrating AI technology into Ruby on Rails applications.</h1>
  <p class="mt-6 text-base text-zinc-600">
  AI gets more powerful and easier to use every day. <b>LLMs</b> can be installed with a single line of code. Let's explore how to integrate different AI technologies into <a href="https://rubyonrails.org/" target="_blank"><b>Ruby on Rails</b></a> applications to make them more powerful and ready for the future.
  </p>
</header>

<div class="mt-8 sm:mt-16">
  <div class="mb-8">
    <h2 class="text-2xl font-bold tracking-tight text-zinc-800">Latest articles</h2>
  </div>
  <div class="md:border-l md:border-zinc-100 md:pl-6">
    <div class="flex max-w-3xl flex-col space-y-16">
      <%= partial "partials/article_teasers" %>      
    </div>
  </div>
</div>
